<h1>INSERISCI UN POST</h1>
 <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" >


              Data
              <input type="text" class="form-control" onfocus="this.value=''" placeholder="dd month yyyy" name="data" [formControl]="myForm.controls['data']">
              <div *ngIf="!myForm.controls['data'].valid" class="alert alert-danger">"data" non è valido</div>
              <div *ngIf="myForm.controls['data'].hasError('required')" class="alert alert-danger">"data" è richiesto</div>


              Titolo
              <input type="text" class="form-control" onfocus="this.value=''" placeholder="titolo"  name="titolo" [formControl]="myForm.controls['titolo']">
              <div *ngIf="!myForm.controls['titolo'].valid" class="alert alert-danger">"titolo" non è valido</div>
              <div *ngIf="myForm.controls['titolo'].hasError('required')" class="alert alert-danger">"titolo" è richiesto</div>

          Testo
          <input type="text" class="form-control mb-4" onfocus="this.value=''" placeholder="testo" name="testo" [formControl]="myForm.controls['testo']">
          <div *ngIf="!myForm.controls['testo'].valid" class="alert alert-danger">"testo" non è valido</div>
          <div *ngIf="myForm.controls['testo'].hasError('required')" class="alert alert-danger">"testo" è richiesto</div>
          Username
          <input type="text" class="form-control mb-4" onfocus="this.value=''" placeholder="username" name="user" [formControl]="myForm.controls['user']">
          <div *ngIf="!myForm.controls['user'].valid" class="alert alert-danger">"username" non è valido</div>
          <div *ngIf="myForm.controls['user'].hasError('required')" class="alert alert-danger">"username" è richiesto</div>





      <div *ngIf="!myForm.valid" class="alert alert-danger">Il form non è valido</div>
      <button class="bg-primary text-white btn btn-block mb-4" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>

  <ul>
    <li *ngFor="let post of posts" class="bg-info text-white">

      <span >{{post.dataInsrimento}}-{{post.titolo}}-{{post.testo}}-{{post.userName}}</span>
      <app-commento [posts]="post.risposte"></app-commento>
      <ul>
        <li *ngFor="let ris of post.risposte" class="bg-danger text-white">
           <span >{{ris.dataInsrimento}}-{{ris.titolo}}-{{ris.testo}}-{{ris.userName}}</span>
        </li>
      </ul>

    </li>
  </ul>
